<!-- preloader -->
<div class="preloader">
	<div class="loader">
		<div class="loader-square"></div>
		<div class="loader-square"></div>
		<div class="loader-square"></div>
		<div class="loader-square"></div>
		<div class="loader-square"></div>
		<div class="loader-square"></div>
		<div class="loader-square"></div>
	</div>
</div>
<!-- back to top -->
<button class="back-to-top position-fixed end-0 bottom-0 d-center me-5">
	<span class="text-h4">
		<i class="ph ph-arrow-up"></i>
	</span>
</button>